nav {
    font-family: "podium-soft-variable", sans-serif;
}

.artist {
    background-color: black;
}

h1 {
    font-family: "podium-soft-variable", sans-serif;
    font-size: 3.5rem;
}

h2{font-family: "podium-soft-variable", sans-serif;
    font-size: 2.8rem;}

.artist img {
    height: 280px;
}

.card-title {
    font-family: "podium-soft-variable", sans-serif;
}

.custom-background {
    height: 500px;
    width: 100%; 
    background: url(images/banner.jpg) center center / cover no-repeat; 
    display: flex;
  }

  .custom-background2 {
    height: 500px;
    width: 100%; 
    background: url(images/73f43937da2a366643f4f507f523871a.jpg) center center / cover no-repeat; 
    display: flex;
  }

  .custom-background3 {
    height: 400px;
    width: 100%; 
    display: flex;
  }

  .custom-background4 {
    height: 500px;
    width: 100%; 
    background: url(images/album_collage.jpg) center center / cover no-repeat; 
    display: flex;
  }


.carousel-text {
    padding: 20px;
    text-align: left;
}
  
  .carousel-text h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-text p {
    font-size: 16px;
    color: #666;
  }

  #kontakt{background-color: black;}

  footer {
    background-color: #080808;
    padding-top: 0.1%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer h4 {
    padding: 0;
}

.texty {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.greyday{background-color: #76A6BD;}

a{color: #76A6BD;}

.gallery-item img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px;
}
.gallery-item {
    margin-bottom: 15px;
}

.diskografie_nahled p{max-width: 500px;}

.sb_alba p{max-width: 500px;}

.nl_alba p{max-width: 500px;}

.ramirez_alba p{max-width: 500px;}

.germ_alba p{max-width: 500px;}

.sw_alba p{max-width: 500px;}

.chetta_alba p{max-width: 500px;}

.sb_karta{background-color: #d0bf81;}

.nl_karta{background-color: #b17b75;}

.ramirez_karta{background-color: #938443;}

.germ_karta{background-color: #70a9bd;}

.shakewell_karta{background-color: #809423;}

.chetta_karta{background-color: #ae8529;}
