nav{font-family: "podium-soft-variable", sans-serif;
}

.artist{background-color: black;}

h1{font-family: "podium-soft-variable", sans-serif;
    font-size: 4rem;
    }

.artist img{height: 250px;}

.card-title{font-family: "podium-soft-variable", sans-serif;}