nav {
    font-family: "podium-soft-variable", sans-serif;
}

.artist {
    background-color: black;
}

h1 {
    font-family: "podium-soft-variable", sans-serif;
    font-size: 3.5rem;
}

.artist img {
    height: 280px;
}

.card-title {
    font-family: "podium-soft-variable", sans-serif;
}

.custom-background {
    height: 500px;
    width: 100%; 
    background: url(images/banner.jpg) center center / cover no-repeat; 
    display: flex;
  }

  .custom-background2 {
    height: 500px;
    width: 100%; 
    background: url(images/73f43937da2a366643f4f507f523871a.jpg) center center / cover no-repeat; 
    display: flex;
  }


.carousel-text {
    padding: 20px;
    text-align: left;
}
  
  .carousel-text h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-text p {
    font-size: 16px;
    color: #666;
  }

  #kontakt{background-color: black;}

  footer {
    background-color: #080808;
    padding-top: 0.1%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer h4 {
    padding: 0;
}

.texty {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    color: #AA2AB1;
}

.uvod_koncerty{background-color: black;
                }



    .gallery-item img {
        transition: transform 0.3s ease;
    }

    .gallery-item img:hover {
        transform: scale(1.05);
    }

.greyday{background-color: #76A6BD;}


  